ul.common-list{
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 0;
  li.common-list__elem {
    height: 29px;
    position: relative;
    padding: 0 5px 0 9px;
    color: #4d4d4d;
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    &:hover {
      background-color: #eeeeee;
      cursor: pointer;
    }
    &.selected {
      color: #4d4d4d;
      background-color: #fc6;
    }
    .common-list__item
    {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}